.search-bar {
    outline: none;
    border: none;
}

Paper {
    width: 50%;
}

.category-btn {
    margin: 5px 0;
    padding: 7px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px; 
    bacground: none;
}

.stack-aside::-webkit-scrollbar-track {
    display: none;
}